<% content_for(:page_title, "Edit #{@job_source.name}") %>

<div class="page-header mb-4">
  <h1 class="page-header__title">Edit Job Source</h1>
  <p class="page-header__subtitle"><%= @job_source.name %></p>
</div>

<%= render "job_sources/form", job_source: @job_source %>
