<div class="card stat-card">
  <div class="card-body">
    <div class="stat-card__icon stat-card__icon--<%= color %>"><%= raw icon %></div>
    <div class="stat-card__body">
      <div class="stat-card__value"><%= value %></div>
      <div class="stat-card__label"><%= label %></div>
    </div>
  </div>
</div>
