<%= form_with url: profile_section_entries_path(section), method: :post, class: "d-inline-flex gap-2 align-items-center" do |f| %>
  <input type="text" name="profile_entry[content][name]" class="form-control form-control-sm" style="width:150px" placeholder="Language" required>
  <select name="profile_entry[content][proficiency]" class="form-select form-select-sm" style="width:150px">
    <option value="">Proficiency</option>
    <% %w[Native Fluent Advanced Intermediate Basic].each do |level| %>
      <option value="<%= level %>"><%= level %></option>
    <% end %>
  </select>
  <%= f.submit "Add", class: "btn btn-sm btn-primary" %>
<% end %>
