<%= form_with url: profile_section_entries_path(section), method: :post do |f| %>
  <div class="row g-2 mb-2">
    <div class="col-md-6">
      <input type="text" name="profile_entry[content][name]" class="form-control form-control-sm" placeholder="Project name" required>
    </div>
    <div class="col-md-6">
      <input type="url" name="profile_entry[content][url]" class="form-control form-control-sm" placeholder="URL">
    </div>
    <div class="col-12">
      <textarea name="profile_entry[content][description]" class="form-control form-control-sm" rows="2" placeholder="Description"></textarea>
    </div>
  </div>
  <%= f.submit "Add Project", class: "btn btn-sm btn-primary" %>
<% end %>
